# 1: WAP to check if a string is a ** **palindrome**

In [ ]:
def is_palindrome(str):
  reversed_str=str[::-1]
  return str == reversed_str
s='madam'
if is_palindrome(s):
    print(f"{s} is a palindrome")
else:
    print(f"{s} is not palindrome")

madam is a palindrome

**WAP to find the factorial of a numbe**

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n *factorial(n-1)
n1=8
result=factorial(n1)
print(result)
n2=5
result=factorial(n2)
print(result)

40320
120

3: WAP to find the largest element in a list

In [ ]:
def find_large(numbers):
  largest=numbers[0]
  for num in numbers:
    if num > largest:
      largest=num
  return largest
nums=[10,20,45,89,66,33,55,22,33,44]
largest_num= find_large(nums)
print(f"the largest number is {largest_num}")

the largest number is 89

: 4.WAP to find the minimum  element in a list

In [ ]:
def find_min(numbers):
  minimum=numbers[0]
  for num in numbers:
    if num< minimum:
      minimum=num
  return minimum
nums=[12,34,56,76,8,9,1,2,3,4]
minimum_num=find_min(nums)
print(minimum_num)

1

5: WAP to reverse a string.

In [ ]:
def rev_string(string):
  return string[::-1]
text= 'ayvid atpug'
rev_str=rev_string(text)
print(rev_str)

gupta divya

6: WAP to count the frequency of each element in a list.

In [ ]:
def count_freq(numbers):
  freq={}
  for num in numbers:
    if num in freq:
      freq[num]+=1
    else:
      freq[num]=1
  return freq
nums=[0,0,0,0,7,6,5,4,4,5,6,7,8,2,3,45,6,76,5,4,4]
freq_count=count_freq(nums)
print(freq_count)
type(freq_count)

{0: 4, 7: 2, 6: 3, 5: 3, 4: 4, 8: 1, 2: 1, 3: 1, 45: 1, 76: 1}

dict

7: WAP to check if a number is prime.

In [ ]:
def is_prime(number):
    if number<2:
        return False
    for i in range(2,int(number**0.5)+1):
        if number%i==0:
           return False
    return True

In [ ]:
num=12
if is_prime(num):
   print(f'{num} is prime')
else:
  print(f'{num} is not prime number')

12 is not prime number

8:WAP to find the common elements between two lists.

In [ ]:
def find_com_element(list1,list2):
  com_element=[]
  for item in list1:
    if item in list2:
      com_element.append(item)
  return com_element

In [ ]:
list1=[1,2,3,4,5]
list2=[3,4,5,6,7,8]
common=find_com_element(list1,list2)
print(common)

[3, 4, 5]

9: WAP to sort a list of elements using the bubble sort algorithm

In [ ]:
def bubble_sort(elements):
     n = len(elements)
     for i in range(n - 1):
         for j in range(n - i -1):
             if elements[j]>elements[j+1]:
                 elements[j],elements[j+1]=elements[j+1]

In [ ]:
nums=[5,2,8,1,9]
bubble_sort(nums)
print(nums)

10:WAP to remove duplicates from a list.

In [ ]:
def remove_duplicates(nums):
  unique_numbers=[]
  for num in nums:
    if num not in unique_numbers:
       unique_numbers.append(num)
  return unique_numbers

In [ ]:
nums=[1,2,3,4,1,2,3,4,5,6,7,8,1,2,3]
unique_nums=remove_duplicates(nums)
print(unique_nums)

[1, 2, 3, 4, 5, 6, 7, 8]

11. WAP to print prime number between 100 to 1000

In [ ]:
for num in range (100,1000):
  if all(num%i !=0 for i  in range (2,num)):
    print(num)

12. WAP sort function to sort element in a list

In [ ]:
list=[1,5,3,2,4]
list.sort(reverse=True)
print(list)

[5, 4, 3, 2, 1]

13.Write sorting function without using list.sort

In [ ]:
def selection_sort_descending(arr):
  n=len(arr)
  for i in range(n):
    max_index=i
    for j in range(i+1,n):
      if arr[j]>arr[max_index]:
        max_index=j
    arr[i],arr[max_index]=arr[max_index],arr[i]
  return arr
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_list = selection_sort_descending(my_list)
print(sorted_list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

14. WAP to print Fibonacci series

In [ ]:
def F(n):
  if n==0:return 0
  elif n==1: return 1
  else: return F(n-1)+F(n-2)
for i in range(0,10):
  print(F(i))

0
1
1
2
3
5
8
13
21
34

15. WAP to print a list in reverse

In [ ]:
list=[1,2,3,4,5]
rev_list=list[::-1]
print(rev_list)

[5, 4, 3, 2, 1]

In [ ]:
from posixpath import lexists
list=[2,3,4,56,7,23,43,56,77]
def rev(l):
  return l[::-1]
rev(list)

[77, 56, 43, 23, 7, 56, 4, 3, 2]